html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 70vh;
    height: 60vh;
    background-color: bisque;
}

.inp {

    width: 70vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.temp {
    width: 70vh;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
    flex-direction: column;
    
}

.hum_and_temp {
    width: 70vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 360px;
    
}

.input {
    width: 25vh;
    height: 2.5vh;
    border: 2px solid black;
    border-radius: 10px;
}

.hum {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.max,
.min {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.maxmin {
    display: flex;
    flex-direction: column;
    
}
.images{
    width: 200px;
    height: 200px;
}
.weather{
    display: none;
    
}
